@model folha_de_ponto.Models.Funcionario

@{
    ViewData["Title"] = "Cadastrar novo funcionario";
}

<h1>Cadastrar novo funcionario</h1>

<hr/>
@* Realiza o cadastro do funcionário no sistema *@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Ativo" class="control-label"></label>
                <input type="checkbox" asp-for="Ativo" class="form-check-input" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</hr>
<br>
<div>
    <a asp-action="Index">Voltar</a>
</div>